{% extends 'index.html' %}
{% block title%} {{ post.title }} {%endblock%}
{% block content%}

<ul>
    <li> <h2> {{post.title}} </h2> {{post.category}}  <br> By {{post.author.first_name}} {{post.author.last_name}} - {{ post.publication_date }}</li>
    
    {% if user.id == post.author.id %}
    <button> <a href="{% url 'edit' post.pk %}"> Edit  </a>  </button> <span style="padding-left:20px"></span>
      <button> <a href="{% url 'delete' post.pk %}">Delete</a>  </button>
      {% endif %}
    <hr>
   {{post.body}}
   <br>
   <br>
   <hr>
   <br>
   <form action="{% url 'like_post' post.pk %}" method="post">

    {% csrf_token %}
    {% if user.is_authenticated %}

    {% if liked %}
    <button type="submit" name="post_id" value="{{ post.id }}" > Unlike </button>
    {% else %}
    <button type="submit" name="post_id" value="{{ post.id }}" > Like </button> 
    {% endif %}
    {% else %}
    <h3>Log in to like..</h3>
    {% endif %}
      - {{ total_likes }} Likes
    </form>
   <a href="{% url 'home' %}"> Back</a>
   
</ul>
{%endblock%}